@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Kufam:ital,wght@0,400..900;1,400..900&family=Montserrat:wght@100..900&family=Vazirmatn:wght@100..900&display=swap');

:root {
    --montserrat: "Montserrat", sans-serif;
    --krona: "Krona One", sans-serif;
    --kufam: "Kufam", sans-serif;
    --vazirmatn: "Vazirmatn", sans-serif;
}

:root {
    --montserrat: "Montserrat", sans-serif;
    --krona: "Krona One", sans-serif;
    --kufam: "Kufam", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #D4D5DE;
    overflow-x: hidden;

}

.page-wrapper {
  display: flex;
  height: 100%;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 20vw;
}

.left-scrollable {
  width: 70vw; 
  overflow-y: auto;
  padding: 0.75vw 0.813vw;
  padding-right: 0px;
  box-sizing: border-box;
}

.hero-content {
  position: relative;
  width: 100%;
  margin: 0 auto; /* Центрируем контейнер */
  height: auto;
  display: block;
}

.hero-img {
  width: 68vw;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between; 
  align-items:flex-start; 
  padding: 0.813vw 0.875vw; 
  box-sizing: border-box;
}

.logo-container {
  flex: 0 0 auto;
  width: 3.008vw;
  height: 1.356vw;
  transition: transform 0.3s ease, 0.3s ease;
}

.h-logo {
  width: 3.008vw;
  height: 1.356vw;
}

.logo-container:hover {
  transform: scale(1.2);
  display: block;
}

.showreel-btn {
  flex: 0 0 auto;
  margin-left: 55vw;
  margin-top: 0.4vw;
}

.showreel-btn a {
  line-height: 114.2%;
  font-weight:600;
  font-family: var(--montserrat);
  text-decoration: none;
  color: #2D2D2D;
  font-size: 0.75vw;
  padding: 0.25vw 0.7vw 0.35vw 0.7vw;
  background-color: #FFFFFF;
  border-radius: 1.438vw;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.showreel-btn a:hover {
  background-color: #2D2D2D;
  color: #FFFFFF;
}

.mute-btn {
  width: 1.138vw;
  height: 1.138vw;
  flex: 0 0 auto;
  margin-left: 0;
  cursor: pointer;
  margin-right: 1.1vw;
  margin-top: 0.4vw;
}

.btn-mute {
  width: 1.188vw;
  height: 1.188vw;
}

.play-btn {
  position: absolute;
  width: 2.151vw;
  height: 2.425vw;
  top: 50%;
  left: 50%;
  transform: translate(-65%, 1%); /* Точное центрирование */
  z-index: 10; /* Чтобы кнопка была поверх других элементов */
  cursor: pointer;
}

.btn-play {
   width: 2.151vw;
   height: 2.425vw;
}

.name-studio {
    font-family: var(--krona);
    line-height: 1;
  width: 27.125vw;
  text-align: right;
  text-transform: uppercase;
  position: absolute;
  bottom: 0.313vw;      
  right: 0.313vw;     
  margin: 0;
  padding: 4.375vw 2.375vw;
  font-size: 4vw;
  font-weight: 500;
  color: #FFFFFF;
  z-index: 10; 
  white-space: wrap;
}

.right-static {
  position: fixed; 
  right: 0;
  top: 0;
  width: 30vw;
  height: 100vw; 
  background-color: #D4D5DE;
  padding: 0px;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  margin-left: 0;
}

.fade-on-scroll {
  transition: opacity 0.4s ease;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  gap: 1.25vw; 
  padding-top: 0.813vw; 
  padding-right: 1.188vw;
}

.vertical-links {
  display: flex;
  flex-direction: column; 
}

.nav-link {
  font-size: 0.813vw;
    font-family: var(--montserrat);
    line-height: 99.9%;
    letter-spacing: -5%;
    font-style: italic;
  font-weight: 600;
  color: #82838A; 
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #2D2D2D; 
}

.nav-link.active {
  color: #2D2D2D; 
}

.telegram-link {
    font-family: var(--montserrat);
    font-size: 0.875vw;
    line-height: 113%;
  display: inline-flex;
  align-items: center;
  padding: 0.438vw 0.813vw; 
  border: 1px solid #2D2D2D; 
  border-radius: 1.468vw; 
  background-color: #D4D5DE; 
  color: #2D2D2D; 
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.telegram-link:hover {
  background-color: #2D2D2D; 
  color: #FFFFFF; 
}

.right-static .logo-block {
  margin-left: 3.938vw;
  margin-top: 1.813vw; 
  margin-bottom: 18.081vw; 
}

.right-static .logo-block img {
  width: 21.7vw;
  height: auto;
}

.price-mot-3 {
  font-family: var(--montserrat);
  font-weight: 500;
  font-size: 1.125vw;
  line-height: 114.2%;
  letter-spacing: -4%;
  display: flex; /* делаем flex-контейнер для выравнивания текста и стрелки */
  align-items: center; /* центрируем элементы по вертикали */
  justify-content: space-between; /* распределяем текст и стрелку по краям */
  padding-left: 1.063vw;
  background: transparent; /* фон прозрачный, как на скрине */
  border: 1px solid #2D2D2D; /* обводка кнопки */
  border-radius: 2vw; /* скругление углов */
  text-decoration: none; /* убираем подчёркивание ссылки */
  color: #2D2D2D; /* цвет текста */
  width: 21.581vw; /* занимает всю доступную ширину */
  box-sizing: border-box; /* включаем отступы в ширину элемента */
  cursor: pointer; /* курсор "рука" при наведении */
  margin-left: 3.938vw;
}

.icon-wrap-2 {
  transform: translateX(0.1vw);
  display:inline-flex;
  align-items:center;
  justify-content:center;
  padding:0.75vw;            
  box-sizing:border-box;    
  border:1px solid #2D2D2D;
  border-radius:2vw;
  margin-left: 10%;
}

.icon-wrap-2 .arrow-icon-2 {
  width: 0.796vw;
  height: 0.796vw;
}

.contact-block {
  font-family: var(--krona);
  text-align:left;
  margin-top: 0.625vw;
  margin-left: 3.938vw;
}

.social-buttons {
  display: flex;
  align-items: center;
  gap: 0.75vw;
}

.social-btn {
  cursor: pointer;
  margin-right: 0;
  display: flex;
}

.wa-button {
  width: 2.5vw;
}

.social-btn-1-2 {
  cursor: pointer;
  margin: 0;
  display: flex;
}

.tg-button {
  width: 2.5vw;
}

.social-btn-1-3 {
  line-height: 114.2%;
  letter-spacing: -3%;
  font-weight: 500;
  text-decoration: none;
  font-family: var(--montserrat);
  color: #FFFFFF;
  padding: 0.65vw 3.9vw;
  background: #2D2D2D;
  border-radius: 1vw;
  font-size: 1vw;
  cursor: pointer;
  margin: 0;
  transition: 
    color 0.3s ease,
    background-color 0.3s ease,
    transform 0.2s ease;
}

.social-btn-1-3:hover {
  background-color: #FFFFFF;
  color: #2D2D2D;
}



.services-cards-wrapper {
  position: absolute; /* Ключевой момент — выносим поверх других блоков */
  transform: translate(0.6vw, 29vw); /* Корректируем смещение */
  z-index: 10; /* Гарантируем отображение поверх других элементов */
  display: flex; /* Располагаем карточки в ряд */
  align-items:flex-end;
  gap: 1.375vw; /* Отступы между карточками */
  padding: 0.62vw; /* Отступы от краёв .page-wrapper */
  opacity: 1;
  transition: opacity 0.8s ease-in-out; /* Плавное исчезновение */
}

.services-cards-wrapper.fade-out {
  opacity: 0; /* Конечное состояние — полностью прозрачен */
}


.block-alternative {
  display: none; /* Скрываем альтернативный блок по умолчанию */
  transition: opacity 0.3s ease;
}

.price-mot-2 {
  font-family: var(--montserrat);
  font-size: 18px;
  line-height: 113.9%;
  letter-spacing: -4%;
  font-weight: 400;
  display: flex; /* делаем flex-контейнер для выравнивания текста и стрелки */
  align-items: center; /* центрируем элементы по вертикали */
  justify-content: space-between; /* распределяем текст и стрелку по краям */
  padding-left: 17px;
  background: transparent; /* фон прозрачный, как на скрине */
  border: 1px solid #2D2D2D; /* обводка кнопки */
  border-radius: 23.5px; /* скругление углов */
  text-decoration: none; /* убираем подчёркивание ссылки */
  color: #2D2D2D; /* цвет текста */
  width: 33.12vh; /* занимает всю доступную ширину */
  box-sizing: border-box; /* включаем отступы в ширину элемента */
  cursor: pointer; /* курсор "рука" при наведении */
  margin-left: 6vh;
}

.icon-wrap .arrow-icon-2{
  display:block;
  width:16px;               
  height:auto;
}

.icon-wrap {
  display:inline-flex;
  align-items:center;
  justify-content:center;
  padding:15.2px 15.2px;            
  box-sizing:border-box;    
  border:1px solid #2D2D2D;
  border-radius:23.5px;
  margin-left: 10%;
}

/* При наведении на .card — скрываем основную, показываем альтернативную */
.card:hover .card-content-primary {
  opacity: 0;
  visibility: hidden;
}

.card:hover .card-content-alt {
  opacity: 1;
  visibility: visible;
  pointer-events: auto; /* Теперь можно кликать/наводить */
}


.card {
  background: #F6F6F8;
  border-radius: 0.75vw;
  overflow: hidden;
    width: 23vw; /* Фиксированная ширина */
   display: flex; /* Включаем flex для внутренней компоновки */
  flex-direction: column; /* Элементы идут вертикально */
  justify-content: space-between; /* Равномерное распределение по высоте */
  height: 100%;
  opacity: 0;
  transform: translateY(200px);
  will-change: transform, opacity;
  transition: none; /* отключаем CSS-переходы — управление через JS */
}

.card.visible {
  opacity: 1;
  transform: translateY(-11vw);
}

.card:hover {
  transform: translateY(-12vw); /* Эффект при наведении */
}

.card-header {
    font-size: 0.875vw;
  display: flex;
  align-items: center;
  padding-left: 1.375vw;
  padding-top: 1.375vw;
  color: white;
  gap: 0.125vw;
}

.zagolovok {
    font-size: 1.125vw;
    font-family: var(--montserrat);
    color: #2D2D2D;
    font-weight: 600;
    padding-bottom: 0;
    margin: 0;
}

.card-number {
  display: inline-block;
  text-align: center;
  width: 0.6vw;
  font-family: var(--montserrat);
  background: #2D2D2D;
  color: white;
  padding: 0.4vw 0.599vw;
  border-radius: 50%;
  font-weight: 500;
  line-height: 114.2%;
  letter-spacing: 0%;
}

.card-title {
    background: #2D2D2D;
    padding: 0.4vw 0.938vw;
    border-radius: 3vw;
  font-family: var(--montserrat);
  font-size: 0.875vw;
  font-weight: 500;
  line-height: 114.2%;
  letter-spacing: -4%;
}

.card-strelka,
.card-strelka-2,
.card-strelka-3,
.card-strelka-4 {
  display:inline-flex;
  align-items:center;
  justify-content:center;
  padding:0.524vw;            
  box-sizing:border-box;    
  border:1px solid #2D2D2D;
  border-radius: 3vw;
}

.card-strelka {
  margin-left: 11vw;
}

.card-strelka-2 {
  margin-left: 9vw;
}

.card-strelka-3 {
  margin-left: 10vw;
}

.card-strelka-4 {
  margin-left: 10.5vw;
}

.strelka-1 {
  width: 0.65vw;
  height: 0.65vw;
}

.card-content {
    width: 18.133vw;
    font-family: var(--montserrat);
  padding-left: 1.375vw;
  padding-top: 2vw;
  font-size: 0.813vw;
  color: #828282;
  line-height: 136%;
}

.card-img {
    display: flex;
    align-items:flex-end;
    justify-content: center;
  width: 100%;
  height: 100%; /* Фиксированная высота изображения */
  object-fit: cover;
  border-radius: 0.75vw;
  margin-top: auto;
  padding-bottom: 1.32vw;
}

.img-card {
  width: 20vw;
  height: 12.625vw;
  border-radius: 0.5vw;
}

.card-content-primary {
  background: #F6F6F8;
  border-radius: 0.75vw;
  overflow: hidden;
    width: 23.12vw; /* Фиксированная ширина */
   display: flex; /* Включаем flex для внутренней компоновки */
  flex-direction: column; /* Элементы идут вертикально */
  justify-content: space-between; /* Равномерное распределение по высоте */
  height: 100%;
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.card {
  position: relative; /* Важно для позиционирования альтернативной карточки */
  overflow: hidden;
}

/* Основная карточка — видна по умолчанию */
.card-content-primary {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Альтернативная карточка — скрыта по умолчанию */
.card-content-alt {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.4vw;
  height: 100%;
  background: #000000; 
  border-radius: 0.75vw;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none; /* Не реагирует на события мыши, пока скрыта */
}

.card-header-2 {
    font-size: 0.875vw;
  display: flex;
  align-items: center;
  padding: 0.625vw;
  color: white;
  gap: 0.125vw;
}

.zagolovok-2 {
    font-size: 2.5vw;
    font-family: var(--montserrat);
    color: #FFFFFF;
    line-height: 113.9%;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 0;
    margin: 0;
    margin-bottom: 0.455vw;
}

.card-number-2 {
  width: 0.5vw;
  font-family: var(--montserrat);
  background: #000000;
  color: white;
  padding: 0.313vw 0.625vw;
  border-radius: 50%;
}

.card-title-2 {
  color: #FFFFFF;
    background: #000000;
    padding: 0.25vw 0.938vw;
    border-radius: 3vw;
  font-family: var(--krona);
  font-size: 0.875vw;
  font-weight: 400;
}

.card-content-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
    width: 18.133vw;
    font-family: var(--montserrat);
  padding: 1.313vw;
  font-size: 0.813vw;
  color: #828282;
  line-height: 136%;
}

.btn-cont-1 {
  height: 5.375vw;
  margin-bottom: 0.375vw;
}

.komp-button {
  display: flex;
  flex-wrap: wrap;
  width: 15.669vw;
}

.komplect-btn {
  line-height: 113.9%;
  font-family: var(--krona);
  text-decoration: none;
  color: #2D2D2D;
  font-weight: 500;
  font-size: 0.75vw;
  padding: 0.313vw 0.625vw;
  background-color: #FFFFFF;
  border-radius: 3vw;
  margin-right: 0.188vw;
  margin-bottom: 0.313vw;
}

.card-price {
  font-family: var(--montserrat);
  font-size: 1.125vw;
  color: #FFFFFF;
  line-height: 113.9%;
  letter-spacing: -3%;
  font-weight: 600;
  margin-bottom: 10vw;
}

.card-price-2 {
  font-family: var(--montserrat);
  font-size: 1.125vw;
  color: #FFFFFF;
  line-height: 113.9%;
  letter-spacing: -3%;
  font-weight: 600;
  padding-top: 2.125vw;
  margin-bottom: 9.6vw;
}

.card-price-3 {
  font-family: var(--montserrat);
  font-size: 1.125vw;
  color: #FFFFFF;
  line-height: 113.9%;
  letter-spacing: -3%;
  font-weight: 600;
  padding-top: 2.125vw;
  margin-bottom: 6vw;
}

.card-price-4 {
  font-family: var(--montserrat);
  font-size: 1.125vw;
  color: #FFFFFF;
  line-height: 113.9%;
  letter-spacing: -3%;
  font-weight: 600;
  padding-top: 2.125vw;
  margin-bottom: 4vw;
}

.price-mot {
  font-family: var(--montserrat);
  font-size: 1.125vw;
  line-height: 113.9%;
  letter-spacing: -4%;
  font-weight: 400;
  display: flex; /* делаем flex-контейнер для выравнивания текста и стрелки */
  align-items: center; /* центрируем элементы по вертикали */
  justify-content: space-between; /* распределяем текст и стрелку по краям */
  padding-left: 1.063vw;
  background: transparent; /* фон прозрачный, как на скрине */
  border: 1px solid #FFFFFF; /* обводка кнопки */
  border-radius: 3vw; /* скругление углов */
  text-decoration: none; /* убираем подчёркивание ссылки */
  color: #FFFFFF; /* цвет текста */
  width: 20.5vw; /* занимает всю доступную ширину */
  box-sizing: border-box; /* включаем отступы в ширину элемента */
  cursor: pointer; /* курсор "рука" при наведении */
}

.arrow-icon {
  font-size: 1vw; /* размер стрелки */
  margin-left: 0.625vw; /* отступ от текста до стрелки */
  border: 1px solid #FFFFFF;
  border-radius: 3vw;
  padding: 0.70vw 0.419vw;
}

/* При наведении на .card — скрываем основную, показываем альтернативную */
.card:hover .card-content-primary {
  opacity: 0;
  visibility: hidden;
}

.card:hover .card-content-alt {
  opacity: 1;
  visibility: visible;
  pointer-events: auto; /* Теперь можно кликать/наводить */
}



.komanda-wrapper {
  display: flex;
  width: 100%;
  height: 100%; 
  position: relative;
}

.komanda-scrollable {
  width: 70vw;
  padding-left: 0.75vw;
  box-sizing: border-box;
  z-index: 20;
}

.komanda-img {
  width: 68vw;
}

.komanda-content {
  width: 68vw;
  position: relative; 
  height: 28.3vw;
}

.komanda-overlay {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  padding: 1.25vw; 
  display: flex; 
  flex-direction: column; 
}

.komanda-logo {
  margin-bottom: 17.063vw; 
}

.logo-k {
  width: 5.268vw;
  height: 2.375vw;
}

.komanda-name {
  font-family: var(--montserrat);
  width: 23.528vw;
  color: #FFFFFF; 
  font-size: 1.25vw; 
  line-height: 114.2%; 
  margin-left: 42.438vw; 
  letter-spacing: -4%;
  font-weight: 500;
}

.komanda-bloki {
  display: flex;
  width: 68vw;
  gap: 0.375vw;
  margin-top: 0.375vw;
}

.kb-1,
.kb-2,
.kb-3 {
  background-color: #F6F6F8;
  width: 100%;
  height: auto;
  border-radius: 0.75vw;

}

.kb-1 h2,
.kb-2 h2,
.kb-3 h2 {
  font-size: 7.188vw;
  font-family: var(--vazirmatn);
  color: #2D2D2D;
  line-height: 114.2%;
  font-weight: 600;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 1.688vw;
}

.kb-1 h2 {
  letter-spacing: -0.12em;
    padding-right: 2vw;
}

.kb-2 h2 {
  letter-spacing: -0.09em;
}

.kb-3 h2 {
  padding-right: 1vw;
  letter-spacing: -0.12em;
}

.kb-1 p,
.kb-2 p,
.kb-3 p {
  width: 15.813vw;
  text-align: center;
  font-family: var(--montserrat);
  font-size: 1vw;
  line-height: 114.2%;
  letter-spacing: -3%;
  font-weight: 500;
  margin: 0;
  padding-bottom: 1.688vw;
  padding-left: 3vw;
  color: #8B8B8B;
}

.komanda-static {
  padding-top: 1vw;
  width: 31vw;
  position: sticky; /* Ключевое свойство: «прилипает» при скролле */
  top: 0; /* Прилипает к верху окна */
  height: 20vw;
  align-self: start; /* Выравниваем сверху */
  background-color: #D4D5DE; /* Фоновый цвет для наглядности */
  box-sizing: border-box;
  z-index: 20;
}

.zag-k {
  display: flex;
  align-items: center;
}

.zag-k h3 {
  text-transform: uppercase;
  margin-top: 1.563vw;
  line-height: 113.9%;
  font-weight: 700;
  font-family: var(--montserrat);
  margin-bottom: 1.25vw;
  font-size: 3vw;
  color: #333333;
  margin-left: 3.8vw;
  padding-bottom: 0px;
}

.k-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 3.938vw;
  transform: translateY(-1.5vw);
}

.category {
  width: 21.7vw;
  font-family: var(--montserrat);
  font-size: 1.125vw;
  line-height: 113.9%;
  letter-spacing: -4%;
  font-weight: 500;
  margin-bottom: 0.5vw;
  color: #2D2D2D;
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.category span {
  font-family: var(--montserrat);
  font-size: 1.125vw;
  line-height: 113.9%;
  letter-spacing: -4%;
  font-weight: 500;
  color: #979797;
  display: inline-block;   
  width: 1.25vw;             
  text-align: left;        
  white-space: nowrap;
}

.category {
  opacity: 1;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.category.is-visible {
  opacity: 1;
  transform: translateY(0);
}


.page-wrapper-2 {
  display: flex;
  height: 100%;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  z-index: 20;
}

.left-scrollable-2 {
  width: 70vw; 
  overflow-y: auto;
  padding-top: 1.063vw;
  padding-left: 0.75vw;
  padding-bottom: 2.688vw;
  padding-right: 0px;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
    z-index: 20;
}

.left-scrollable-2::-webkit-scrollbar {
  display: none;
}

.project-content-1 {
  width: 68vw;
  display: block;
  height: auto;
  overflow-y: auto; /* Если контента больше, чем помещается */
  box-sizing: border-box;
  background-color: #f9f9f9;
  border-radius: 0.75vw;
  margin-bottom: 1.063vw;
  padding-bottom: 0.5vw;
}

.projects-container {
  background-color: #F6F6F8;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.projects-container h2 {
  margin: 0 0 0 0; 
  padding: 1.188vw 1.875vw 1.25vw 1.875vw; 
  margin-bottom: 0; 
  font-size: 1.25vw; 
  font-family: var(--montserrat); 
  font-weight: 500; 
  color: #2D2D2D; 
  line-height: 114.2%; 
  letter-spacing: -4%; 
  background-color: #F6F6F8;
}

.text-part-zag {
  color: #2D2D2D; 
  margin: 0; 
  font-size: 2vw; 
  font-family: var(--montserrat); 
  line-height: 113.9%; 
  font-weight: 600;
}

.scroll-fade-text {
  margin-top: 3.125vw;
  color: #2D2D2D; 
  font-family: var(--montserrat); 
  font-size: 0.75vw; 
  margin-left: 30vw; 
  width: 17vw; 
  margin-bottom: 0;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

.is-in-view .scroll-fade-text {
  opacity: 1;
}

.zoom-out img {
  width: 15.063vw; 
  height: 9.813vw; 
  object-fit: cover; 
  border-radius: 9px;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.service-item:hover .zoom-out img {
  transform: scale(0.94);
}

.icon-part {
  background: #2D2D2D; 
  border-radius: 3vw; 
  padding: 0.24vw 0.45vw; 
  margin-right: 0.125vw;
}

.icon-part img {
  width: 0.707vw;
}

.icon-part-2 {
  position:absolute; 
  background: #2D2D2D; 
  border-radius: 3vw; 
  padding: 0.24vw 0.5vw; 
  margin-right: 0.125vw; 
  transform: translateX(0px);
}

.icon-part-2 img {
  width: 0.60vw; 
  height: 0.60vw;
}

.text-part {
  line-height: 120%;
  letter-spacing: 0%;
  color: #FFFFFF; 
  font-weight: 400; 
  font-size: 0.875vw; 
  font-family: var(--krona); 
  background: #2D2D2D; 
  padding: 0.188vw 0.563vw; 
  border-radius: 3vw;
}

.separator-1 {
  width: 65.5vw;
  border-bottom: 1px solid #D0D0D0;
  margin-top: 0vw;
  margin-right: 0;
  margin-bottom: 0vw;
  margin-left: 1.875vw;
}

.separator-3 {
  border-bottom: 1px solid #D0D0D0;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  overflow: hidden;
}

.separator-wrapper {
  width: 48vw;
  margin-left: 1.875vw; /* Сохраняем исходный отступ слева */
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden; /* Скрываем выходящую за пределы анимацию */
}

/* Сам разделитель — теперь без псевдоэлемента, он будет внутри */
.separator-3 {
  position: relative;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

/* Псевдоэлемент для анимации заполнения */
.separator-3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0; /* Начинаем с нулевой ширины */
  height: 100%;
  background-color: #2D2D2D; /* Цвет заполнения при наведении */
  transition: width 0.8s cubic-bezier(0.2, 0.7, 0.1, 1);
  z-index: 1;
}

.separator-3:hover::before {
  width: 100%;
}

/* При наведении на карточку — запускаем анимацию заполнения */
.service-item-hover-trigger:hover + .separator-wrapper .separator-3::before {
  width: 100%; /* Заполняем на 100% */
}

.project-content-2 {
  width: 68vw;
}

.photo-block {
  width: 100%;
  margin: 0 auto; /* Центрируем блок */
}

.row-1, .row-3, .row-5 {
  width: 68vw;
  display: flex; /* Располагаем фото в ряд */
  justify-content: space-between; /* Распределяем фото с отступами */
    margin-right: 0vw;
  gap: 0.375vw;
  margin-bottom: 0.375vw;
}

.row-2, .row-4 {
  text-align: center; /* Центрируем растянутое фото */
  margin-bottom: 0.375vw;
}

.photo-506 {
  width: 506px;
  height: 319px;
  object-fit: cover; /* Сохраняем пропорции фото */
}

.photo-1032 {
  width: 1032px;
  height: 319px;
  object-fit: cover; /* Сохраняем пропорции фото */
}

.tooltip {
  font-family: var(--montserrat);
  font-weight:600;
  line-height: 113%;
  letter-spacing: 0%;
  position: fixed;
  background-color: #2D2D2D;
  color: white;
  padding: 8px 12px;
  border-radius: 16px;
  font-size: 14px;
  line-height: 1.4;
  max-width: 300px;
  z-index: 1000;
  pointer-events: none; /* Чтобы не мешала кликам */
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Видимая подсказка */
.tooltip.show {
  opacity: 1;
}

.tooltip-2 {
  font-family: var(--montserrat);
  font-weight:600;
  line-height: 113%;
  letter-spacing: 0%;
  position: fixed;
  background-color: #FFFFFF;
  color: #2D2D2D;
  padding: 8px 12px;
  border-radius: 16px;
  font-size: 14px;
  line-height: 1.4;
  max-width: 300px;
  z-index: 1000;
  pointer-events: none; /* Чтобы не мешала кликам */
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Видимая подсказка */
.tooltip.show {
  opacity: 1;
}

.image-container-1 {
  position: relative;
  overflow: hidden;          /* главное: обрезаем изображение за пределами контейнера */
  border-radius: 0.75vw;        /* если нужно закругление */
  display: block;
  width: 68vw;
  height: 21.33vw;
  margin-right: 0vw; /* Отступы между элементами */
}

/* картинка растягиваем по контейнеру и готовим к трансформации */
.image-container-1 img {
  display: block;
  width: 100%;               /* заполняет контейнер по ширине */
  height: 21.33vw;              /* заполняет контейнер по высоте */
  object-fit: cover;         /* сохраняет охват, без искажения */
  object-position: center;   /* центрируем содержимое при увеличении */
  transform-origin: center center; /* точка масштабирования */
  transition: transform 450ms cubic-bezier(.2,.8,.2,1), filter 300ms;
  will-change: transform;    /* hint браузеру для ускорения */
  backface-visibility: hidden;
}

/* сам эффект zoom — значение scale можно менять */
.image-container-1:hover img,
.image-container-1.zoom-active img { /* .zoom-active — для touch */
  transform: scale(1.12);    /* увеличиваем на 12% */
}

.image-container-2 {
  position: relative;
  overflow: hidden;          /* главное: обрезаем изображение за пределами контейнера */
  border-radius: 0.75vw;        /* если нужно закругление */
  display: block;
  width: 68vw;
  height: 100%;
  margin-right: 0vw; /* Отступы между элементами */
}

/* картинка растягиваем по контейнеру и готовим к трансформации */
.image-container-2 img {
  display: block;
  width: 100%;               /* заполняет контейнер по ширине */
  height: 100%;              /* заполняет контейнер по высоте */
  object-fit: cover;         /* сохраняет охват, без искажения */
  object-position: center;   /* центрируем содержимое при увеличении */
  transform-origin: center center; /* точка масштабирования */
  transition: transform 450ms cubic-bezier(.2,.8,.2,1), filter 300ms;
  will-change: transform;    /* hint браузеру для ускорения */
  backface-visibility: hidden;
}

/* сам эффект zoom — значение scale можно менять */
.image-container-2:hover img,
.image-container-2.zoom-active img { /* .zoom-active — для touch */
  transform: scale(1.12);    /* увеличиваем на 12% */
}

.button-group {
  position: absolute;
  bottom: 19.1vw;      /* Отступ от нижнего края картинки */
  left: 0.5vw;     /* Отступ от правого края картинки */
  display: flex;
  gap: 0.313vw;        /* Расстояние между кнопками */
  flex-direction:row; /* Кнопки вертикально */
}

.button-group-2 {
  position: absolute;
  bottom: 18.8vw;      /* Отступ от нижнего края картинки */
  left: 0.5vw;     /* Отступ от правого края картинки */
  display: flex;
  gap: 5px;        /* Расстояние между кнопками */
  flex-direction:row; /* Кнопки вертикально */
}

/* Базовая стилизация кнопок */
.btn-drk {
  font-family: var(--krona);
  padding: 0.375vw 0.813vw;
  background-color: #2D2D2D;
  color: white;
  text-decoration: none;
  border-radius: 0.563vw;
  font-size: 0.75vw;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.btn-wht {
  font-family: var(--krona);
  padding: 0.375vw 0.813vw;
  background-color: #FFFFFF;
  color: #2D2D2D;
  text-decoration: none;
  border-radius: 0.563vw;
  font-size: 0.75vw;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.btn-drk:hover {
  background-color: #FFFFFF;
  color: #2D2D2D;
}

.btn-wht:hover {
  background-color:#2D2D2D;
  color: #FFFFFF;
}




.right-static-2 {
  margin-top: 2vw;
  position: sticky;
  right: 0;
  top: 0vh; /* Начинается после первого блока */
  width: 30.7vw;
  height: 41vw;
  background-color: #D4D5DE;
  padding: 0px;
  margin-left: 0;
  padding-left: 0vw;
  z-index: 20; /* На случай наложения */
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(.2,.9,.2,1), transform 0.6s cubic-bezier(.2,.9,.2,1);
  pointer-events: none; /* чтобы не реагировал на клики, пока скрыт */
  will-change: opacity, transform;
}

.right-static-2.visible {
  opacity: 1;
  pointer-events: auto;
}

.zag-proj {
  display: flex;
  align-items: center;
  margin-left: 3.7vw;
}

.ar-cont {
  margin-top: 0.4vw;
  display: inline-block; /* Чтобы корректно работали размеры */
  transition: transform 0.3s ease; /* Плавный переход для масштабирования */
  display: flex;
  align-items: center;
}

.icon-wrap-1 {
  display:inline-flex;
  align-items:center;
  justify-content:center;
  padding:0.6vw;            
  box-sizing:border-box;    
  border:1px solid #2D2D2D;
  border-radius:2vw;
  margin-left: 2vw;
}

.icon-wrap-1 .arrow-icon-1 {
  width: 1.2vw;
  height: 1.2vw;
}

/* Эффекты при наведении */
.ar-cont:hover {
  transform: scale(1.1); /* Увеличиваем контейнер на 10 % */
}

.ar-cont:hover img {
  width: 1.3vw; /* Увеличиваем ширину стрелки */
  transform: scale(1.05); /* Дополнительно масштабируем изображение */
}

.icon-wrap-1-1 {
  display:inline-flex;
  align-items:center;
  justify-content:center;
  padding:0.6vw;            
  box-sizing:border-box;    
  border:1px solid #2D2D2D;
  border-radius:2vw;
  margin-left: 3vw;
}

.icon-wrap-1-1 .arrow-icon-1-1 {
  width: 1.2vw;
  height: 1.2vw;
}

.projects-filter h3 {
  margin-top: 1.563vw;
  line-height: 114.2%;
  font-weight: 700;
  font-family: var(--montserrat);
  margin-bottom: 1.25vw;
  font-size: 3vw;
  color: #333333;
  padding-left: 0vw;
  padding-bottom: 0vw;
  text-transform: uppercase;
}

.filter-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.313vw;
  padding-left: 0vw;
  padding-bottom: 21.1vw;
  width: 22vw;
  margin-left: 3.938vw;
}

.filter-btn {
  margin-bottom: 0.313vw;
  color: #2D2D2D;
  text-decoration: none;
  line-height: 113.9%;
  letter-spacing: -5%;
  font-weight: 500;
  font-style: medium;
    font-family: var(--montserrat);
  padding: 0.38vw 0.96vw;
  background-color: #ffffff;
  border-radius: 0.5vw;
  font-size: 1.063vw;
  transition: background-color 0.3s, ease, color 0.3s ease;
}

.filter-btn:hover {
  background-color: #2D2D2D;
  color: #FFFFFF;
}

.filter-btn-2 {
  margin-bottom: 0.313vw;
  color: #2D2D2D;
  text-decoration: none;
  line-height: 113.9%;
  letter-spacing: -5%;
  font-weight: 500;
  font-style: medium;
    font-family: var(--montserrat);
  padding: 0.38vw 0.83vw;
  background-color: #ffffff;
  border-radius: 0.5vw;
  font-size: 1.063vw;
  transition: background-color 0.3s, ease, color 0.3s ease;
}

.filter-btn-2:hover {
  background-color: #2D2D2D;
  color: #FFFFFF;
}

.filter-btn-3 {
  margin-bottom: 0.313vw;
  color: #2D2D2D;
  text-decoration: none;
  line-height: 113.9%;
  letter-spacing: -5%;
  font-weight: 500;
  font-style: medium;
    font-family: var(--montserrat);
  padding: 0.38vw 0.7vw;
  background-color: #ffffff;
  border-radius: 0.5vw;
  font-size: 1.063vw;
  transition: background-color 0.3s, ease, color 0.3s ease;
}

.filter-btn-3:hover {
  background-color: #2D2D2D;
  color: #FFFFFF;
}

.filter-btn-4 {
  margin-bottom: 0.313vw;
  color: #2D2D2D;
  text-decoration: none;
  line-height: 113.9%;
  letter-spacing: -5%;
  font-weight: 500;
  font-style: medium;
    font-family: var(--montserrat);
  padding: 0.38vw 0.7vw;
  background-color: #ffffff;
  border-radius: 0.5vw;
  font-size: 1.063vw;
  transition: background-color 0.3s, ease, color 0.3s ease;
}

.filter-btn-4:hover {
  background-color: #2D2D2D;
  color: #FFFFFF;
}



.footer {
  width: 100%;
  height: 30.5vw;          
  background-color: #C9CAD4;
  padding: 0;
  margin: 0;
  z-index: 10;
  position: relative;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Левая часть футера */
.footer-left {
  padding-left: 4.063vw;
  padding-top: 2.5vw;
  display: flex;
  flex-direction: column;
  gap: 1.563vw;
  margin-right: 0;
}

.start-project-btn {
  font-size: 0.875vw;
  font-weight: 600;
  letter-spacing: -3%;
  line-height: 113.9%;
  font-family: var(--montserrat);
  padding: 0.6vw 1.66vw;
  background-color: #2D2D2D;
  color: #FFFFFF;
  border: none;
  border-radius: 14px;
  width: 7vw;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  justify-content: center;
}

.start-project-btn:hover {
  background-color: #FFFFFF;
  color: #2D2D2D;
}

.social-buttons-2 {
  display: flex;
  gap: 0.688vw;
}

.yt-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.375vw;
}

.yt-knopka {
  width: 2.813vw;
  height: 2vw;
}

.social-btn-2 {
  font-weight: 600;
  line-height: 114.2%;
  text-decoration: none;
  font-family: var(--montserrat);
  color: #2D2D2D;
  padding: 0.3vw 1.32vw 0.404vw 1.32vw;
  background: #C9CAD4;
  border: 1px solid #2D2D2D;
  border-radius: 0.688vw;
  font-size: 0.938vw;
  cursor: pointer;
  margin: 0;
  transition: 
    color 0.3s ease,
    background-color 0.3s ease,
    transform 0.2s ease;
}

.social-btn-2:hover {
  background-color: #2D2D2D;
  color: #FFFFFF;
}

.social-btn-3 {
  line-height: 113.9%;
  text-decoration: none;
  font-family: var(--krona);
  color: #2D2D2D;
  padding: 0.52vw 1.38vw;
  background: #C9CAD4;
  border: 1px solid #2D2D2D;
  border-radius: 23.5px;
  font-size: 0.75vw;
  cursor: pointer;
  margin: 0;
  transition: 
    color 0.3s ease,
    background-color 0.3s ease,
    transform 0.2s ease;
}

.social-btn-3:hover {
  background-color: #2D2D2D;
  color: #FFFFFF;
}

/* Центральная часть футера */
.footer-center {
  padding-top: 2.875vw;
  text-align: left;
  width: 30%;
  padding-left: 21.875vw;
}

.company-slogan {
  color: #2D2D2D;
  line-height: 113.9%;
  font-weight: 500;
  width: 17.625vw;
  font-size: 0.875vw;
  font-family: var(--montserrat);
  margin: 0vw;
  padding-bottom: 2.125vw;
}

.contact-email, .contact-phone {
  line-height: 113.9%;
  font-weight: 500;
  font-size: 0.938vw;
  font-family: var(--kufam);
  margin: 0.125vw 0;
  color: #2D2D2D;
}

.contact-phone {
  text-decoration: underline;
  padding-bottom: 2.063vw;
}

.telegram-label {
  line-height: 113.9%;
  font-weight: 500;
    font-family: var(--montserrat);
    font-size: 0.875vw;
  margin: 0.313vw 0 0 0;
  color: #727272;
}

.telegram-handle {
  line-height: 113.9%;
  font-weight: 500;
    font-family: var(--kufam);
    margin: 0.313vw 0 0 0;
  font-size: 0.938vw;
  color: #2D2D2D;
}

/* Правая часть футера */
.footer-right {
  padding-top: 1.813vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logo {
  width: 5.684vw;
  height: 2.563vw;
  margin-bottom: 0.424vw;
  padding-right: 3.688vw;
}

.copyright {
  margin: 0 0 0 0;
  font-size: 0.625vw;
  font-family: var(--krona);
  color: #2D2D2D;
  margin-bottom: 1vw;
  padding-right: 3.688vw;
}

.pdf-link {
  display: flex;
  align-items: center;
  gap: 1.125vw;
  margin-right: 0;
  padding-right: 1.375vw;
}

.pdf-desc {
  color: #2D2D2D;
  line-height: 109%;
  font-weight: 500;
  font-family: var(--montserrat);
  font-size: 0.75vw;
  width: 8vw;
  flex-wrap: wrap;
}

.pdf-icon {
  color: #2D2D2D;
  text-decoration: none;
  font-family: var(--kufam);
  font-size: 0.938vw;
  background-color: #FFFFFF;
  border-radius: 0.563vw;
  padding: 0.716vw 1.393vw;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.pdf-icon:hover {
  background-color:#2D2D2D;
  color: #FFFFFF;
}

/* Нижний блок футера */
.footer-bottom {
  text-align: left;
  margin-top: 3.25vw;
  padding-left: 3.125vw;
}

.agency-name {
  height: 7vw;
  line-height: 113.9%;
  font-family: var(--montserrat);
  font-size: 6vw;
  font-weight: normal;
  color: #2D2D2D;
  display: flex;
  align-items: center;
  gap: 1.563vw; /* Отступ между частями текста */
}

.typing-animation {
  display: inline-block;
  font-family: var(--montserrat);
  font-size: 6vw;
  color: #2D2D2D;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0; /* Позволяет сжиматься до 0 */
}

.typing-animation::after {
  content: '|';
  animation: blink 0.8s step-end infinite;
  margin-left: 5px;
  opacity: 1;
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}

.privacy-policy {
  font-weight: 400;
  line-height: 114.2%;
  letter-spacing: 0%;
  margin-top: 0.625vw;
  font-size: 0.875vw;
  font-family: var(--krona);
  color: #8A8A8A;
  text-decoration: none;
  transition: 
    text-decoration 10s ease,
    transform 10s ease;
}

.privacy-policy:hover {
  text-decoration: underline;
}




.merge-btn-container {
  position: relative;
  display: inline-flex;
  border-radius: 3vw; /* Совпадает с border-radius частей */
  overflow: hidden;
}

.icon-part,
.text-part {
  align-items:center;
  position: relative;
  z-index: 1;
}

.icon-part {
  display: flex;
  background: #2D2D2D;
  border-radius: 50%;
  padding: 0.2vw 0.43vw;
  margin-right: 0.2vw;
}

.text-part {
    height: 1.563vw;
  text-decoration: none;
  margin: 0;
  align-items: center;
  font-family: var(--krona);
  font-size: 0.875vw;
  color: #FFFFFF;
  line-height: 113.9%;
  letter-spacing: 0%;
  font-weight: 400;
  background-color: #2D2D2D;
  padding: 0.25vw 0.875vw;
  border-radius: 2vw;
  box-sizing: border-box;
}

.icon-part {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.icon-part-2 {
  display: flex;
  background: #2D2D2D;
  border-radius: 50%;
  padding: 0.482vw 0.484vw;
  margin-right: 0.2vw;
}

/* При наведении: меняем прозрачность иконок */
.service-item-hover-trigger:hover .icon-part {
  opacity: 0;
}

.service-item-hover-trigger:hover .icon-part-2 {
  opacity: 1;
}

/* Псевдоэлемент для анимации фона */
.merge-btn-container::before {
  margin: 0;
  content: '';
  position: absolute;
  top: 0;
  right: 0; /* Начинаем с правого края */
  width: 200%; /* Двойная ширина для плавного перехода */
  height: 100%;
  background: linear-gradient(
    to left, /* Движение справа налево */
    #2D2D2D 0%,    /* Цвет фона частей */
    #2D2D2D 50%,
    transparent 50%,
    transparent 100%
  );
  z-index: 0;
  transition: transform 0.5s ease-out;
  transform: translateX(50%); /* Изначально сдвинут вправо */
}

/* При наведении — фон движется влево, объединяя части */
.merge-btn-container:hover::before {
  transform: translateX(0); /* Возвращаемся в исходное положение */
}

.service-item-hover-trigger {
  position: relative;
  padding: 0.813vw 1.063vw 0.313vw 1.875vw; 
  box-sizing: border-box; 
  background: #F6F6F8; 
  display: flex; 
  align-items: center;
}

/* Контейнер для анимации (остаётся внутри .knopki) */
.merge-btn-container {
  position: relative;
  display: inline-flex;
  border-radius: 3vw;
  overflow: hidden;
}

.icon-part,
.text-part {
  position: relative;
  z-index: 1;
}

/* Псевдоэлемент теперь управляется через наведение на .service-item */
.service-item-hover-trigger:hover .merge-btn-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    to left,
    #2D2D2D 0%,
    #2D2D2D 50%,
    transparent 50%,
    transparent 100%
  );
  z-index: 0;
  transition: transform 0.5s ease-out;
  transform: translateX(50%);
}

/* При наведении на .service-item — активируем анимацию */
.service-item-hover-trigger:hover .merge-btn-container::before {
  transform: translateX(0);
}




@media (max-width: 440px) {

.page-wrapper {
  display: flex;
  height: 100%;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 34.75vw;
}

  .right-static {
    position: absolute;
    width: 100%;
    height: 55vw;
    opacity: 1;
  }

  .vertical-links {
  display: flex;
  flex-direction: row; 
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  gap: 28vw; 
  padding-top: 13px; 
  padding-right: 5.5vw;
  margin-left: 5.227vw;
}

.nav-link {
  font-size: 2.955vw;
    font-family: var(--montserrat);
    line-height: 105.9%;
    letter-spacing: -5%;
    font-style: italic;
  font-weight: 600;
  color: #82838A; 
  text-decoration: none;
  transition: color 0.3s ease;
  margin-right: 3vw;
}

.telegram-link {
    font-family: var(--montserrat);
    font-size: 3.182vw;
    line-height: 113%;
  display: inline-flex;
  align-items: center; 
  border: 0px solid #2D2D2D; 
  background-color: #D4D5DE; 
  color: #2D2D2D; 
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}

.right-static .logo-block {
  margin-left: 14.318vw;
  margin-top: 16.364vw; 
  margin-bottom: 0vw; 
}

.right-static .logo-block img {
  width: 68.409vw;
  height: auto;
}

.left-scrollable {
  margin-top: 66vw;
  width: 100%; 
  overflow-y: auto;
  padding-left: 3.636vw;
  padding-right: 0px;
  box-sizing: border-box;
}

.hero-content {
  position: relative;
  width: 100%;
  margin: 0 auto; /* Центрируем контейнер */
  height: auto;
  display: block;
}

.hero-img {
  width: 92.727vw;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between; 
  align-items:flex-start; 
  padding: 0.813vw 0.875vw; 
  box-sizing: border-box;
}

.logo-container {
  flex: 0 0 auto;
  width: 3.008vw;
  height: 1.356vw;
  transition: transform 0.3s ease, 0.3s ease;
}

.h-logo {
  width: 3.008vw;
  height: 1.356vw;
}

.logo-container:hover {
  transform: scale(1.2);
  display: block;
}

.showreel-btn {
  flex: 0 0 auto;
  margin-left: 55vw;
  margin-top: 0.4vw;
}

.showreel-btn a {
  line-height: 114.2%;
  font-weight:600;
  font-family: var(--montserrat);
  text-decoration: none;
  color: #2D2D2D;
  font-size: 0.75vw;
  padding: 0.25vw 0.7vw 0.35vw 0.7vw;
  background-color: #FFFFFF;
  border-radius: 1.438vw;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.showreel-btn a:hover {
  background-color: #2D2D2D;
  color: #FFFFFF;
}

.mute-btn {
  width: 1.138vw;
  height: 1.138vw;
  flex: 0 0 auto;
  margin-left: 0;
  cursor: pointer;
  margin-right: 1.1vw;
  margin-top: 0.4vw;
}

.btn-mute {
  width: 1.188vw;
  height: 1.188vw;
}

.play-btn {
  display: none;
}

.name-studio {
display: none;
}

.services-cards-wrapper {
  position: absolute; /* Ключевой момент — выносим поверх других блоков */
  transform: translate(0.6vw, 132vw); /* Корректируем смещение */
  z-index: 10; /* Гарантируем отображение поверх других элементов */
  display: flex; /* Располагаем карточки в ряд */
  align-items:flex-end;
  gap: 1.375vw; /* Отступы между карточками */
  padding: 0.62vw; /* Отступы от краёв .page-wrapper */
  opacity: 1;
  transition: opacity 0.8s ease-in-out; /* Плавное исчезновение */
}

.services-cards-wrapper.fade-out {
  opacity: 0; /* Конечное состояние — полностью прозрачен */
}


.block-alternative {
  display: none; /* Скрываем альтернативный блок по умолчанию */
  transition: opacity 0.3s ease;
}

.price-mot-2 {
  font-family: var(--montserrat);
  font-size: 18px;
  line-height: 113.9%;
  letter-spacing: -4%;
  font-weight: 400;
  display: flex; /* делаем flex-контейнер для выравнивания текста и стрелки */
  align-items: center; /* центрируем элементы по вертикали */
  justify-content: space-between; /* распределяем текст и стрелку по краям */
  padding-left: 17px;
  background: transparent; /* фон прозрачный, как на скрине */
  border: 1px solid #2D2D2D; /* обводка кнопки */
  border-radius: 23.5px; /* скругление углов */
  text-decoration: none; /* убираем подчёркивание ссылки */
  color: #2D2D2D; /* цвет текста */
  width: 33.12vh; /* занимает всю доступную ширину */
  box-sizing: border-box; /* включаем отступы в ширину элемента */
  cursor: pointer; /* курсор "рука" при наведении */
  margin-left: 6vh;
}

.icon-wrap .arrow-icon-2{
  display:block;
  width:16px;               
  height:auto;
}

.icon-wrap {
  display:inline-flex;
  align-items:center;
  justify-content:center;
  padding:15.2px 15.2px;            
  box-sizing:border-box;    
  border:1px solid #2D2D2D;
  border-radius:23.5px;
  margin-left: 10%;
}

/* При наведении на .card — скрываем основную, показываем альтернативную */
.card:hover .card-content-primary {
  opacity: 0;
  visibility: hidden;
}

.card:hover .card-content-alt {
  opacity: 1;
  visibility: visible;
  pointer-events: auto; /* Теперь можно кликать/наводить */
}


.card {
  background: #F6F6F8;
  border-radius: 0.75vw;
  overflow: hidden;
    width: 23.37vw; /* Фиксированная ширина */
   display: flex; /* Включаем flex для внутренней компоновки */
  flex-direction: column; /* Элементы идут вертикально */
  justify-content: space-between; /* Равномерное распределение по высоте */
  height: 100%;
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.card.visible {
  opacity: 1;
  transform: translateY(-11vw);
}

.card:hover {
  transform: translateY(-12vw); /* Эффект при наведении */
}

.card-header {
    font-size: 0.875vw;
  display: flex;
  align-items: center;
  padding-left: 1.375vw;
  padding-top: 1.375vw;
  color: white;
  gap: 0.125vw;
}

.zagolovok {
    font-size: 1.125vw;
    font-family: var(--montserrat);
    color: #2D2D2D;
    font-weight: 600;
    padding-bottom: 0;
    margin: 0;
}

.card-number {
  display: inline-block;
  text-align: center;
  width: 0.6vw;
  font-family: var(--montserrat);
  background: #2D2D2D;
  color: white;
  padding: 0.4vw 0.599vw;
  border-radius: 50%;
  font-weight: 500;
  line-height: 114.2%;
  letter-spacing: 0%;
}

.card-title {
    background: #2D2D2D;
    padding: 0.4vw 0.938vw;
    border-radius: 3vw;
  font-family: var(--montserrat);
  font-size: 0.875vw;
  font-weight: 500;
  line-height: 114.2%;
  letter-spacing: -4%;
}

.card-strelka,
.card-strelka-2,
.card-strelka-3,
.card-strelka-4 {
  display:inline-flex;
  align-items:center;
  justify-content:center;
  padding:0.524vw;            
  box-sizing:border-box;    
  border:1px solid #2D2D2D;
  border-radius: 3vw;
}

.card-strelka {
  margin-left: 12vw;
}

.card-strelka-2 {
  margin-left: 10vw;
}

.card-strelka-3 {
  margin-left: 11vw;
}

.card-strelka-4 {
  margin-left: 11.5vw;
}

.strelka-1 {
  width: 0.65vw;
  height: 0.65vw;
}

.card-content {
    width: 18.133vw;
    font-family: var(--montserrat);
  padding-left: 1.375vw;
  padding-top: 2vw;
  font-size: 0.813vw;
  color: #828282;
  line-height: 136%;
}

.card-img {
    display: flex;
    align-items:flex-end;
    justify-content: center;
  width: 100%;
  height: 100%; /* Фиксированная высота изображения */
  object-fit: cover;
  border-radius: 0.75vw;
  margin-top: auto;
  padding-bottom: 1.32vw;
}

.img-card {
  width: 20vw;
  height: 12.625vw;
}

.card-content-primary {
  background: #F6F6F8;
  border-radius: 0.75vw;
  overflow: hidden;
    width: 23.12vw; /* Фиксированная ширина */
   display: flex; /* Включаем flex для внутренней компоновки */
  flex-direction: column; /* Элементы идут вертикально */
  justify-content: space-between; /* Равномерное распределение по высоте */
  height: 100%;
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.card {
  position: relative; /* Важно для позиционирования альтернативной карточки */
  overflow: hidden;
}

/* Основная карточка — видна по умолчанию */
.card-content-primary {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Альтернативная карточка — скрыта по умолчанию */
.card-content-alt {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.4vw;
  height: 100%;
  background: #000000; 
  border-radius: 0.75vw;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none; /* Не реагирует на события мыши, пока скрыта */
}

.card-header-2 {
    font-size: 0.875vw;
  display: flex;
  align-items: center;
  padding: 0.625vw;
  color: white;
  gap: 0.125vw;
}

.zagolovok-2 {
    font-size: 2.5vw;
    font-family: var(--montserrat);
    color: #FFFFFF;
    line-height: 113.9%;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 0;
    margin: 0;
    margin-bottom: 0.455vw;
}

.card-number-2 {
  width: 0.5vw;
  font-family: var(--montserrat);
  background: #000000;
  color: white;
  padding: 0.313vw 0.625vw;
  border-radius: 50%;
}

.card-title-2 {
  color: #FFFFFF;
    background: #000000;
    padding: 0.25vw 0.938vw;
    border-radius: 3vw;
  font-family: var(--krona);
  font-size: 0.875vw;
  font-weight: 400;
}

.card-content-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
    width: 18.133vw;
    font-family: var(--montserrat);
  padding: 1.313vw;
  font-size: 0.813vw;
  color: #828282;
  line-height: 136%;
}

.btn-cont-1 {
  height: 5.375vw;
  margin-bottom: 0.375vw;
}

.komp-button {
  display: flex;
  flex-wrap: wrap;
  width: 15.669vw;
}

.komplect-btn {
  line-height: 113.9%;
  font-family: var(--krona);
  text-decoration: none;
  color: #2D2D2D;
  font-weight: 500;
  font-size: 0.75vw;
  padding: 0.313vw 0.625vw;
  background-color: #FFFFFF;
  border-radius: 3vw;
  margin-right: 0.188vw;
  margin-bottom: 0.313vw;
}

.card-price {
  font-family: var(--montserrat);
  font-size: 1.125vw;
  color: #FFFFFF;
  line-height: 113.9%;
  letter-spacing: -3%;
  font-weight: 600;
  margin-bottom: 10vw;
}

.card-price-2 {
  font-family: var(--montserrat);
  font-size: 1.125vw;
  color: #FFFFFF;
  line-height: 113.9%;
  letter-spacing: -3%;
  font-weight: 600;
  padding-top: 2.125vw;
  margin-bottom: 9.6vw;
}

.card-price-3 {
  font-family: var(--montserrat);
  font-size: 1.125vw;
  color: #FFFFFF;
  line-height: 113.9%;
  letter-spacing: -3%;
  font-weight: 600;
  padding-top: 2.125vw;
  margin-bottom: 6vw;
}

.card-price-4 {
  font-family: var(--montserrat);
  font-size: 1.125vw;
  color: #FFFFFF;
  line-height: 113.9%;
  letter-spacing: -3%;
  font-weight: 600;
  padding-top: 2.125vw;
  margin-bottom: 4vw;
}

.price-mot {
  font-family: var(--montserrat);
  font-size: 1.125vw;
  line-height: 113.9%;
  letter-spacing: -4%;
  font-weight: 400;
  display: flex; /* делаем flex-контейнер для выравнивания текста и стрелки */
  align-items: center; /* центрируем элементы по вертикали */
  justify-content: space-between; /* распределяем текст и стрелку по краям */
  padding-left: 1.063vw;
  background: transparent; /* фон прозрачный, как на скрине */
  border: 1px solid #FFFFFF; /* обводка кнопки */
  border-radius: 3vw; /* скругление углов */
  text-decoration: none; /* убираем подчёркивание ссылки */
  color: #FFFFFF; /* цвет текста */
  width: 20.5vw; /* занимает всю доступную ширину */
  box-sizing: border-box; /* включаем отступы в ширину элемента */
  cursor: pointer; /* курсор "рука" при наведении */
}

.arrow-icon {
  font-size: 1vw; /* размер стрелки */
  margin-left: 0.625vw; /* отступ от текста до стрелки */
  border: 1px solid #FFFFFF;
  border-radius: 3vw;
  padding: 0.70vw 0.419vw;
}

/* При наведении на .card — скрываем основную, показываем альтернативную */
.card:hover .card-content-primary {
  opacity: 0;
  visibility: hidden;
}

.card:hover .card-content-alt {
  opacity: 1;
  visibility: visible;
  pointer-events: auto; /* Теперь можно кликать/наводить */
}

.komanda-wrapper {
  display: flex;
  width: 100%;
  height: 100%; 
  position: relative;
}

.komanda-scrollable {
  margin-top: 55vw;
  width: 70vw;
  padding-left: 3.636vw;
  box-sizing: border-box;
  z-index: 20;
}

.komanda-img {
  width: 68vw;
}

.komanda-content {
  width: 68vw;
  position: relative; 
  height: 28.3vw;
}

.komanda-overlay {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  padding: 1.25vw; 
  display: flex; 
  flex-direction: column; 
}

.komanda-logo {
  margin-bottom: 17.063vw; 
}

.logo-k {
  width: 5.268vw;
  height: 2.375vw;
}

.komanda-name {
  font-family: var(--montserrat);
  width: 59vw;
  color: #FFFFFF; 
  font-size: 3.409vw; 
  line-height: 114.2%; 
  margin-left: 30vw; 
  transform: translateY(-24vw);
  letter-spacing: -4%;
  font-weight: 500;
}

.komanda-bloki {
  display: block;
  width: 92.727vw;
  gap: 0.375vw;
  margin-top: 1.364vw;
}

.kb-1,
.kb-2,
.kb-3 {
  background-color: #F6F6F8;
  width: 92.727vw;
  height: 47.5vw;
  border-radius: 0.75vw;
}

.kb-1,
.kb-2 {
  margin-bottom: 1.364vw;
}

.kb-1 h2,
.kb-2 h2,
.kb-3 h2 {
  font-size: 7.188vw;
  font-family: var(--vazirmatn);
  color: #2D2D2D;
  line-height: 114.2%;
  font-weight: 600;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 1.688vw;
}

.kb-1 h2 {
  letter-spacing: -0.12em;
    padding-right: 2vw;
}

.kb-2 h2 {
  letter-spacing: -0.09em;
}

.kb-3 h2 {
  padding-right: 1vw;
  letter-spacing: -0.12em;
}

.kb-1 p,
.kb-2 p,
.kb-3 p {
  width: 15.813vw;
  text-align: center;
  font-family: var(--montserrat);
  font-size: 1vw;
  line-height: 114.2%;
  letter-spacing: -3%;
  font-weight: 500;
  margin: 0;
  padding-bottom: 1.688vw;
  padding-left: 3vw;
  color: #8B8B8B;
}

.komanda-static {
  width: 100%;
  position: absolute; /* Ключевое свойство: «прилипает» при скролле */
  top: 0; /* Прилипает к верху окна */
  height: 20vw;
  align-self: start; /* Выравниваем сверху */
  background-color: #D4D5DE; /* Фоновый цвет для наглядности */
  box-sizing: border-box;
  z-index: 20;
}

.zag-k {
  display: flex;
  align-items: center;
}

.zag-k h3 {
  text-transform: uppercase;
  margin-top: 1.563vw;
  line-height: 113.9%;
  font-weight: 700;
  font-family: var(--montserrat);
  margin-bottom: 1.25vw;
  font-size: 9.091vw;
  color: #333333;
  margin-left: 3.938vw;
  padding-bottom: 0px;
}

.k-list {
  list-style: none;
  padding: 0;
  display: block;
  flex-wrap: wrap;
  margin-left: 3.938vw;
  transform: translateY(-1.5vw);
}

.category {
  width: 72vw;
  font-family: var(--montserrat);
  font-size: 3.182vw;
  line-height: 113.9%;
  letter-spacing: -4%;
  font-weight: 500;
  margin-bottom: 0.5vw;
  color: #2D2D2D;
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.category span {
  font-family: var(--montserrat);
  font-size: 3.182vw;
  line-height: 113.9%;
  letter-spacing: -4%;
  font-weight: 500;
  color: #979797;
  display: inline-block;   
  width: 1.25vw;             
  text-align: left;        
  white-space: nowrap;
}

.category {
  opacity: 1;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.category.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.ar-cont {
  margin-top: 0.4vw;
  display: inline-block; /* Чтобы корректно работали размеры */
  transition: transform 0.3s ease; /* Плавный переход для масштабирования */
  display: flex;
  align-items: center;
}

.icon-wrap-1 {
  display:inline-flex;
  align-items:center;
  justify-content:center;
  padding:1.595vw;            
  box-sizing:border-box;    
  border:1px solid #2D2D2D;
  border-radius:4vw;
  margin-left: 2vw;
}

.icon-wrap-1 .arrow-icon-1 {
  width: 3.636vw;
  height: 3.636vw;
}

/* Эффекты при наведении */
.ar-cont:hover {
  transform: scale(1.1); /* Увеличиваем контейнер на 10 % */
}

.ar-cont:hover img {
  width: 1.3vw; /* Увеличиваем ширину стрелки */
  transform: scale(1.05); /* Дополнительно масштабируем изображение */
}
}